body {
    background-image: url(../img/background-image.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
};

h1 {
    text-shadow: 2px 2px black;
}

h2 {
    text-shadow: 2px 2px black;
}

h5 {
    text-shadow: black;
}

h6 {
    color: white;
}

a {
    color: goldenrod;
    text-decoration: none;
}

a:hover, p, li {
    color: silver;
    text-decoration: none;
}

.invisible {
    visibility: hidden;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.fixed {
    position: fixed;
}