body {
    background-image: url(../img/background-image.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
};

h2 {
    text-shadow: 2px 2px goldenrod;
}

h5 {
    text-shadow: black;
}

h6 {
    color: white;
}

.invisible {
    visibility: hidden;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
